
.civi-event-calendar-event {
    width: 100%;
    margin-bottom: 5px;
    align-content: center;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
  
  }
    
.civi-event-calendar-event {
    background-color: #ddd;
  }

  /* You can customize your site with CSS classes for event types
   * using the event type label as a calss. For example, if you
   * have types Member-Run and Open-Run, you could do the following:
   
  .civi-event-calendar-event.Member-Run {
    background-color: #fdd;
  }
  
  .civi-event-calendar-event.Open-Run {
    background-color: #dfd;
  }
   
   */


  .civi-event-calendar-event.Member-Run {
    background-color: #fdd;
  }
  
  .civi-event-calendar-event.Open-Run {
    background-color: #dfd;
  }
  
  .civi-event-calendar-weekday {
    text-align: center;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #01AEFD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 2px;
  }
  
  .civi-event-calendar-day {
    text-align: center;
    height: 1.25em;
    line-height: 1em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F2F3;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
  }
  
  .civi-event-calendar-title {
    font-size: 1.25em;
  }
  
  .civi-event-calendar-description {
    font-size: 1em;
  }
  
  .civi-event-calendar-cell-date {
    display: block;
    float: left;
    width: 70px;
    padding: 2px 5px;
  }
  
  .civi-event-calendar-cell-body {
    padding-left: 10px;
    padding-right: 5px;
  }
  
  .civi-event-calendar-cell-register {
    display: block;
    float: right;
    padding: 5px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .civi-event-calendar-register {
    text-align: center;
    background-color: blue;
    color:white;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px #aaa;
    cursor: pointer;
  }

  